[user]
	name = Lucas Pélos
	email = lucas.pelos@gmail.com
[alias]
	ci = commit
	co = checkout
	colete = blame
	cp = cherry-pick
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	last = cat-file commit HEAD
	st = status
[credential]
	helper = cache
[core]
	excludesfile = /home/lucas/.gitignore
[push]
	default = current
[color]
	diff = auto
	status = auto
	branch = auto
